body{

}
*{border: 1px solid rgb(212, 212, 212)
}

#header{
    display:grid;
    grid-template-rows:  80% auto;
    text-align: center;
}

#navigation{
    font-size : .6m
}

#hero-image{
    height: 150px ;
    background-color: red;

}

#content{
    height: 100px;
    background-color: blue;
    width: 90%;
    margin: 0 auto;
    display :grid;
    grid-template-columns: 70% 30% ;
}